[user]
    name = Ricardo Alves da Silva
	email = ricardcpu@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = store
[init]
	defaultBranch = master
[core]
	excludesfile = /home/ricardo/.gitignore
